.splide__arrow {
    transform: none;
}
.splide__arrow.splide__arrow--prev,
.splide__arrow.splide__arrow--next {
    position: static;
}

.jetboost-hidden,
.ais-Pagination--noRefinement,
.ais-SearchBox-input,
.ais-Pagination-item--disabled,
.ais-SearchBox-loadingIndicator,
.ais-RefinementList-count,
.ais-Pagination-item--firstPage,
.ais-Pagination-item--lastPage,
.ais-ClearRefinements-button--disabled{
    display: none;
}

.ais-RefinementList-label{
    cursor: pointer;
}

.text-prefooter a, .w-richtext a:not(.button), li a:not(.wg-li), p a {
    background: transparent;
}

.card__url{
    z-index: 3;
}
.card__img-wrap {
    aspect-ratio: 9/5;
}

.filter-wrap .filter-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.splide__slide {
    height: auto !important;
}

.ais-ClearRefinements-button{
    white-space: nowrap;
}

.filter-search__header.active img {
    transform: rotate(0deg);
}

.ais-SearchBox-input {
    padding: 10px 16px 10px 45px;
    width: 100%;
    border-radius: 4px;
    background: #FFF;
    border: none;
    color: #000;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    box-shadow: 0px 7px 11px 0px rgba(163, 163, 163, 0.15);
    height: 48px;
}

::placeholder {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.ais-SearchBox {
    position: relative;
    padding: 0 8px;
    margin-bottom: 5px;
}

.ais-SearchBox-submit {
    position: absolute;
    left: 19px;
    top: 0;
    background: transparent;
    height: 100%;
    display: flex;
    align-items: center;
}

.ais-SearchBox-submit svg {
    width: 14px;
    height: 14px;
}

.ais-SearchBox-reset {
    position: absolute;
    right: 16px;
    top: 0;
    background: transparent;
    height: 100%;
}

.ais-RefinementList-list {
    padding-left: 0;
}

.ais-RefinementList-item {
    display: flex;
    height: 32px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    cursor: pointer;
}

.ais-RefinementList-item--selected {
    background: #CCF3FC;
}

#type-list, .ais-RefinementList, .ais-RefinementList-list, #searchBox, .filter-search__content {
    width: 100%;
}

.ais-RefinementList-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ais-RefinementList-label {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ais-RefinementList-item--selected .ais-RefinementList-label {
    font-weight: 700;
}

.ais-ClearRefinements-button {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    background: transparent;
}

.ais-Hits-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    padding: 0;
    margin: 16px 0 0;
}

.ais-Hits-item {
    width: calc(33% - 19px);
}

.ais-Pagination-list {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ais-Pagination-item--page {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: #FFF;
    border: 1px solid transparent;
    cursor: pointer;
}

.ais-Pagination-item--page:hover {
    background: #FFF;
    box-shadow: 0px 7px 11px 0px rgba(163, 163, 163, 0.15);
}

.ais-Pagination-item--selected {
    border-color: #00C3EF;
    background: #FFF;
}

.ais-ClearRefinements-button--disabled {
    white-space: nowrap;
}

.ais-Pagination-item--nextPage .ais-Pagination-link,
.ais-Pagination-item--previousPage .ais-Pagination-link {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.ais-Pagination-item--previousPage {
    padding-right: 10px;
}

.ais-Pagination-item--nextPage {
    padding-left: 10px;
}

.ais-Pagination-item--disabled {
    color: grey;
}

.splide__arrows.card-slider__arrow {
    margin: 0;
}

.ais-RefinementList-checkbox {
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path d='M12.5 2H3.5C2.67157 2 2 2.67157 2 3.5V12.5C2 13.3284 2.67157 14 3.5 14H12.5C13.3284 14 14 13.3284 14 12.5V3.5C14 2.67157 13.3284 2 12.5 2Z' stroke='black' stroke-linejoin='round'/></svg>") no-repeat center center;
    height: 16px;
    width: 16px;
    border: none;
}

.ais-RefinementList-checkbox:checked {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path d='M11 5.5L6.8 10.5L5 8.5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/><path d='M12.5 2H3.5C2.67157 2 2 2.67157 2 3.5V12.5C2 13.3284 2.67157 14 3.5 14H12.5C13.3284 14 14 13.3284 14 12.5V3.5C14 2.67157 13.3284 2 12.5 2Z' stroke='black' stroke-linejoin='round'/></svg>") no-repeat center center;
}

@media screen and (max-width: 1100px) {
    .ais-Hits-item {
        width: calc(50% - 19px);
    }
}
@media screen and (max-width: 991px) {
    .resources-more {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    iframe {
        width: 100% !important;
        height: 446px;
    }
    .ais-Pagination-item--page{
        padding: 4px 10px;
    }
    .ais-Pagination-link{
        font-size: 14px;
    }
    .ais-Pagination-item--nextPage .ais-Pagination-link, .ais-Pagination-item--previousPage .ais-Pagination-link{
        font-size: 12px;
    }

    .ais-Pagination-list{
        margin: 0 auto;
        padding: 0;
    }
}
@media screen and (max-width: 430px) {
    .ais-Hits-item {
        width: 100%;
    }
}