.splide__arrow {transform: none;}
.splide__arrows.card-slider__arrow{
    margin-left: 10px;
}
.splide__arrow.splide__arrow--prev,
.splide__arrow.splide__arrow--next{position: static;}

.jetboost-hidden {
    display: none;
}

@media screen and (max-width: 991px){
    .resources-more{
        display: none;
    }
}
@media screen and (max-width: 767px){
    iframe{
        width:100%!important;
        height: 446px;
    }
}

.w-checkbox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.w-checkbox-input + span:before {
    content: "";
    display: inline-flex;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    border: 1px solid #000;
    position: absolute;
    left: -20px;
    top: 2px;
}

.w-checkbox-input + span{
    position: relative;
}

input[type="checkbox"]::before {
    background-color: #002B4E !important;
    color: white;
}

.w-checkbox-input:checked + span:before {
    text-align: center;
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'><path fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 5.5L4.5 9 11 2'/></svg>");
    background-size: 76%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.w-checkbox input:checked:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #CCF3FC;
    display: block;
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
}

.w-checkbox input:checked + span{
    font-weight: 700;
}

.filter-item-row{
    position: relative;
    padding-left: 30px;
}

.card__img-wrap{
    aspect-ratio: 9/5;
}

.filter-wrap .filter-list{
    display: flex;
}